{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'api/rCalendar/css/calendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    <style>
        .table>tbody>tr>td {
            padding: 8px 0;
        }
    </style>
    <title>Kalender Peminjaman</title>


</head>

<body style="background-color: #dddddd">

<nav class="navbar navbar-inverse" style="border-radius:0px; margin-bottom:0">
    <div class="container-fluid">
    <div class="navbar-header">
        <div>
            <img src='{% static "images/itb.png" %}' alt="Logo ITB" style="height: 50px; margin: 7px;float: left">
            <span class="navbar-brand" style="color: white">Kalender Peminjaman</span>
        </div>
    </div>
    </div>
</nav>

<div class="container" id="AppKalender" ng-controller="CalendarDemoCtrl">
    <div class="panel container-fluid" style="margin-top:2rem">
        <div>
            <div class="row" style="padding:8px">
                <div class="col-md-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" style="text-align: left; padding-right: 16px">Ruangan </span>
                        <select ng-model="filterRuangan" class="form-control input-sm" id="filterQuery" ng-change="filterEvents('filter')">
                            <option value="Semua" selected>Semua</option>
                            <option value="{[{ ruanganData.nama }]}" ng-repeat = "ruanganData in ruanganList">{[{ ruanganData.nama }]}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="padding:8px">
                <div class="col-md-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" style="text-align: left; padding-right: 12px">Peminjam </span>
                        <select ng-model="filterPeminjam" class="form-control input-sm" id="filterQueryPeminjam" ng-change="filterEvents('filter')">
                            <option value="Semua" selected>Semua</option>
                            <option value="{[{ peminjamData.nama }]}" ng-repeat = "peminjamData in peminjamList">{[{ peminjamData.nama }]}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="padding:8px">
                <div class="col-md-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" style="text-align: left; padding-right: 20px">Tanggal </span>
                        <input type="date" ng-model="date_filter" class="form-control input-sm" ng-change="filterEvents('filter')">
                    </div>
                </div>
            </div>
            <div class="row" style="padding:8px">
                <div class="col-xs-12">
                    <div class="input-group" style="text-align: left">
                            <span class="input-group-addon" style="text-align: left">Refresh </span>
                            <span type="button" class="glyphicon glyphicon-refresh btn btn-link btn-sm" ng-click="filterEvents('filter')" id="calendarRefresh" aria-hidden="true">
                            </span>
                    </div>
                </div>
            </div>
            <div class="well well-sm" style="margin-top:8px">
                <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
                        range-changed="reloadSource(startTime, endTime)"
                        event-selected="onEventSelected(event)"
                        time-selected=""></calendar>
            </div>
        </div>
    </div>
</div>
        
</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="{% static 'api/rCalendar/js/calendar.js' %}"></script>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}" ></script>
<script>
    $(document).ready(function () {
        $(".nav li").removeClass("active");
        $('#kalenderPeminjaman').addClass('active');
    });
    angular.module('calendarDemoApp', ['ui.rCalendar']);
    angular.module('calendarDemoApp').config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('{[{');
            $interpolateProvider.endSymbol('}]}');
    }).controller('CalendarDemoCtrl',['$scope','$http','$timeout', '$filter', function ($scope, $http, $timeout, $filter) {
        'use strict';

        // calendar mode
        $scope.changeMode = function (mode) {
            $scope.mode = mode;
        };
        $scope.today = function () {
            $scope.currentDate = new Date();
        };
        $scope.isToday = function () {
            var today = new Date(),
                currentCalendarDate = new Date($scope.currentDate);
            today.setHours(0, 0, 0, 0);
            currentCalendarDate.setHours(0, 0, 0, 0);
            return today.getTime() === currentCalendarDate.getTime();
        };
        $scope.onEventSelected = function (event) {
            $scope.event = event;
        };
        /* Global Variables */
        $scope.peminjamanList_GLOBAL = [];

        /* Fetching */
        $scope.peminjamJson = "{% url 'peminjam:json' %}";
        $scope.ruanganJson = "{% url 'ruangan:json_umum' %}";
        $scope.peminjamanFilter = "{% url 'peminjaman:jsonbase_umum' %}";
        $http.get($scope.peminjamJson).success(function(data, status, headers, config) {
                $scope.peminjamList = data.results;
        }).error(function(data, status, headers, config) {
                $scope.peminjamList = [];
        });
        $http.get($scope.ruanganJson).success(function(data, status, headers, config) {
                $scope.ruanganList = data.results;
        }).error(function(data, status, headers, config) {
                $scope.ruanganList = [];
        });
        var filterByPeminjam;
        function peminjamTampil(e) {
            for (var i in $scope.peminjamList) {
                if (e == $scope.peminjamList[i].id) {
                    filterByPeminjam = $scope.peminjamList[i].nama;
                    return $scope.peminjamList[i].nama;
                }
            }
            return ;
        };

        var filterByRuangan;
        var fotoRuangan ;
        var warnaRuangan;
        // get the name of room
        function ruanganTampil(e) {
            for (var i in $scope.ruanganList) {
                if (e == $scope.ruanganList[i].id) {
                    filterByRuangan= $scope.ruanganList[i].nama;
                    fotoRuangan =  $scope.ruanganList[i].foto;
                    warnaRuangan = $scope.ruanganList[i].warna;

                    return $scope.ruanganList[i].nama;
                }
            }
            return;
        };
        // get all borrowed room 
        function fetchPeminjaman(){
            var req = {
                method: 'GET',
                url :  $scope.peminjamanFilter,
            };
            $http(req).success(function(data, status, headers, config) {
                var temp = data.results;
                angular.forEach(temp, function(value, key){
                    var start_date = new Date(value.waktu_awal);
                    var end_date = new Date(value.waktu_akhir);

                    var peminjam_selected = "";
                    angular.forEach($scope.peminjamList, function(peminjam, key){
                        if(peminjam.id === value.peminjam_id) {
                            peminjam_selected = peminjam.nama;
                            peminjamTampil(peminjam.id);
                            return;
                        }
                    });
                    var ruangan_selected = "";
                    angular.forEach($scope.ruanganList, function(ruangan, key){
                        if(ruangan.id == value.ruangan_id) {
                            ruanganTampil(ruangan.id);
                            ruangan_selected = ruangan.nama;
                            return;
                        }
                    });

                    $scope.peminjamanList_GLOBAL.push({
                        title: ruangan_selected,
                        ruangan: ruangan_selected,
                        startTime: start_date,
                        endTime: end_date,
                        allDay: false,
                        borrower: peminjam_selected,
                        description: value.deskripsi,
                        fotoPeminjaman: value.foto,
                        fotoRuangan: fotoRuangan,
                        warnaRuang: warnaRuangan,
                        roomOrBorrower: true
                    });
                });
            }).error(function(data, status, headers, config) {
                $scope.peminjamanList_GLOBAL = [];
            });
        };

        $scope.filterDate = function(item) {
            return item.startTime.getDate() <= $scope.date_filter.getDate()
                && item.endTime.getDate() >= $scope.date_filter.getDate();
        }
        
        /* Filtering */
        $scope.filterRuangan = "Semua";
        $scope.filterPeminjam = "Semua";
        fetchPeminjaman();
        $scope.filterEvents = function(e) {
            var events = $scope.peminjamanList_GLOBAL;
            if($scope.filterPeminjam !== "Semua"){
                events = $filter('filter')(events, {borrower: $scope.filterPeminjam});
            }
            if($scope.filterRuangan !== "Semua"){
                events = $filter('filter')(events, {ruangan: $scope.filterRuangan});
            }
            if($scope.date_filter != null){
                events = $filter('filter')(events, $scope.filterDate);
            }

            $scope.eventSource = events;
            $scope.$broadcast('eventSourceChanged',$scope.eventSource);
            
            return events;
        }
        $timeout(function() {
            angular.element(document.getElementById("calendarFilter")).triggerHandler('click');
        },200);
    }]);
    angular.element(document).ready(function() {
        angular.bootstrap(document.getElementById("AppKalender"), ["calendarDemoApp"]);
        });
</script>
</html>
