{% extends "base.html" %}

{% block head %}
<style>
    .table>tbody>tr>td {
        padding: 8px 0;
    }
</style>

<title>Daftar peminjaman</title>
{% endblock %}

{% block body %}

<div class="content" id="AppKalender" ng-controller="CalendarDemoCtrl">
    <ul class="breadcrumb" style="margin-bottom: 10px;">
        <li class="active">Kalender Peminjaman</li>
    </ul>
    <div class="panel container-fluid">
        <div>
            <div class="row" style="padding:8px">
                <div class="col-md-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" style="text-align: left; padding-right: 16px">Ruangan </span>
                        <select ng-model="filterRuangan" class="form-control input-sm" id="filterQuery" ng-change="filterEvents('filter')">
                            <option value="Semua" selected>Semua</option>
                            <option value="{[{ ruanganData.nama }]}" ng-repeat = "ruanganData in ruanganList">{[{ ruanganData.nama }]}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="padding:8px">
                <div class="col-md-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" style="text-align: left; padding-right: 12px">Peminjam </span>
                        <select ng-model="filterPeminjam" class="form-control input-sm" id="filterQueryPeminjam" ng-change="filterEvents('filter')">
                            <option value="Semua" selected>Semua</option>
                            <option value="{[{ peminjamData.nama }]}" ng-repeat = "peminjamData in peminjamList">{[{ peminjamData.nama }]}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="padding:8px">
                <div class="col-md-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" style="text-align: left; padding-right: 20px">Tanggal </span>
                        <input type="date" ng-model="date_filter" class="form-control input-sm" ng-change="filterEvents('filter')">
                        <!-- <select ng-model="filter_month" ng-options="x.name for x in poss_month" class="form-control input-sm" ng-change="filterEvents('filter')">
                        </select> -->
                    </div>
                </div>
            </div>
            <!-- <div class="row" style="padding:8px">
                <div class="col-md-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" style="text-align: left; padding-right: 20px">Tanggal </span>
                        <select ng-model="filter_day" ng-options="x.name for x in poss_day" class="form-control input-sm" ng-change="filterEvents('filter')">
                        </select>
                    </div>
                </div>
            </div> -->
            <div class="row" style="padding:8px">
                <div class="col-xs-12">
                    <div class="input-group" style="text-align: left">
                        <span class="input-group-addon" style="text-align: left">Refresh </span>
                        <span type="button" class="glyphicon glyphicon-refresh btn btn-link btn-sm" ng-click="filterEvents('filter')" id="calendarRefresh" aria-hidden="true">
                        </span>
                    </div>
                </div>
            </div>
            <div class="well well-sm" style="margin-top:8px">
                <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
                      range-changed="reloadSource(startTime, endTime)"
                      event-selected="onEventSelected(event)"
                      time-selected=""></calendar>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".nav li").removeClass("active");
        $('#kalenderPeminjaman').addClass('active');
    });
    angular.module('calendarDemoApp', ['ui.rCalendar']);
    angular.module('calendarDemoApp').config(function($interpolateProvider) {
  		$interpolateProvider.startSymbol('{[{');
  		$interpolateProvider.endSymbol('}]}');
	}).controller('CalendarDemoCtrl',['$scope','$http','$timeout', '$filter', function ($scope, $http, $timeout, $filter) {
        'use strict';

        // create months
        $scope.poss_month = [
            {id : "12", name : "Semua"},
            {id : "00", name : "Januari"},
            {id : "01", name : "Februari"},
            {id : "02", name : "Maret"},
            {id : "03", name : "April"},
            {id : "04", name : "Mei"},
            {id : "05", name : "Juni"},
            {id : "06", name : "Juli"},
            {id : "07", name : "Agustus"},
            {id : "08", name : "September"},
            {id : "09", name : "Oktober"},
            {id : "10", name : "November"},
            {id : "11", name : "Desember"},
            ];
        $scope.filter_month = $scope.poss_month[0];

        // create days
        $scope.poss_day = [
            {id : "0", name : "Semua"}
        ];
        for(var i = 1; i <= 31; i++){
            $scope.poss_day.push({id: i, name: i});
        }
        $scope.filter_day = $scope.poss_day[0];

        // calendar mode
        $scope.changeMode = function (mode) {
            $scope.mode = mode;
        };
        $scope.today = function () {
            $scope.currentDate = new Date();
        };
        $scope.isToday = function () {
            var today = new Date(),
                currentCalendarDate = new Date($scope.currentDate);
            today.setHours(0, 0, 0, 0);
            currentCalendarDate.setHours(0, 0, 0, 0);
            return today.getTime() === currentCalendarDate.getTime();
        };
        $scope.onEventSelected = function (event) {
            $scope.event = event;
        };
    	/* Global Variables */
		$scope.peminjamanList_GLOBAL = [];

        /* Fetching */
        // $scope.peminjamJson = "{% url 'peminjam:json' %}";
        // $scope.ruanganJson = "{% url 'ruangan:json' %}";
        $scope.peminjamanFilter = "{% url 'peminjaman:filter_base' %}";
        $scope.peminjamList = [];
        {% for peminjam in all_peminjam %}
        $scope.peminjamList = $scope.peminjamList.concat({
            id: {{ peminjam.id }},
            deskripsi: "{{ peminjam.deskripsi }}",
            nama: "{{ peminjam.nama }}",
        });
        {% endfor %}

        $scope.ruanganList = [];
        {% for ruangan in all_ruangan %}
        $scope.ruanganList = $scope.ruanganList.concat({
            id: {{ ruangan.id }},
            deskripsi: "{{ ruangan.deskripsi }}",
            foto:"{{ ruangan.foto }}",
            nama:"{{ ruangan.nama }}",
            tipe:"{{ ruangan.tipe }}",
            warna:"{{ ruangan.warna }}"
        });
        {% endfor %}
        
		var filterByPeminjam;
	    function peminjamTampil(e) {
            for (var i in $scope.peminjamList) {
                if (e == $scope.peminjamList[i].id) {
					filterByPeminjam = $scope.peminjamList[i].nama;
                    return $scope.peminjamList[i].nama;
                }
            }
            return ;
        };

		var filterByRuangan;
        var fotoRuangan ;
        var warnaRuangan;
		// get the name of room
		function ruanganTampil(e) {
            for (var i in $scope.ruanganList) {
                if (e == $scope.ruanganList[i].id) {
                    filterByRuangan= $scope.ruanganList[i].nama;
                    fotoRuangan =  $scope.ruanganList[i].foto;
                    warnaRuangan = $scope.ruanganList[i].warna;

					return $scope.ruanganList[i].nama;
                }
            }
			return;
        };
		// get all borrowed room in particular year
	    function fetchPeminjaman(year){
            var req = {
                method: 'GET',
                url :  $scope.peminjamanFilter + year,
            };
            var tempPeminjaman = [];
            {% for peminjaman in all_peminjaman %}
            tempPeminjaman = tempPeminjaman.concat({
                ruangan_id : "{{ peminjaman.ruangan_id }}",
                peminjam_id : "{{ peminjaman.peminjam_id }}",
                waktu_awal : "{{ peminjaman.waktu_awal }}",
                waktu_akhir : "{{ peminjaman.waktu_akhir }}", // TODO: format date nya ga sama
                deskripsi : "{{ peminjaman.deskripsi }}",
                foto : "{{ peminjaman.foto }}"
            });
            {% endfor %}
            console.log(tempPeminjaman[0].waktu_awal);
            $http(req).success(function(data, status, headers, config) {
                var temp = data.results;
                // var temp = tempPeminjaman;
                console.log(temp[0].waktu_awal);
                angular.forEach(temp, function(value, key){
                    var start_date = new Date(value.waktu_awal);
                    var end_date = new Date(value.waktu_akhir);

                    var peminjam_selected = "";
                    angular.forEach($scope.peminjamList, function(peminjam, key){
                        if(peminjam.id === value.peminjam_id) {
                            peminjam_selected = peminjam.nama;
                            peminjamTampil(peminjam.id);
                            return;
                        }
                    });
                    var ruangan_selected = "";
                    angular.forEach($scope.ruanganList, function(ruangan, key){
                        if(ruangan.id == value.ruangan_id) {
                            ruanganTampil(ruangan.id);
                            ruangan_selected = ruangan.nama;
                            return;
                        }
                    });

                    $scope.peminjamanList_GLOBAL.push({
                        title: ruangan_selected,
                        ruangan: ruangan_selected,
                        startTime: start_date,
                        endTime: end_date,
                        allDay: false,
                        borrower: peminjam_selected,
                        description: value.deskripsi,
                        fotoPeminjaman: value.foto,
                        fotoRuangan: fotoRuangan,
                        warnaRuang: warnaRuangan,
                        roomOrBorrower: true
                    });
                });
            }).error(function(data, status, headers, config) {
                $scope.peminjamanList_GLOBAL = [];
            });
        };

        // custom filter function
        $scope.filterMonths = function(item) {
            return item.startTime.getMonth() == $scope.filter_month.id;
        }

        $scope.filterDays = function(item) {
            return item.startTime.getDate() == $scope.filter_day.id;
        }

        $scope.filterDate = function(item) {
            return item.startTime.getDate() <= $scope.date_filter.getDate()
                && item.endTime.getDate() >= $scope.date_filter.getDate();
        }
        
		/* Filtering */
		$scope.filterRuangan = "Semua";
		$scope.filterPeminjam = "Semua";
		fetchPeminjaman((new Date()).getFullYear());
		$scope.filterEvents = function(e) {
            //console.log($scope.date_filter.getDate());

            var events = $scope.peminjamanList_GLOBAL;
            if($scope.filterPeminjam !== "Semua"){
                events = $filter('filter')(events, {borrower: $scope.filterPeminjam});
            }
            if($scope.filterRuangan !== "Semua"){
                events = $filter('filter')(events, {ruangan: $scope.filterRuangan});
            }
            // if($scope.filter_month.id != 12){
            //     events = $filter('filter')(events, $scope.filterMonths);
            // }
            // if($scope.filter_day.id != 0){
            //     events = $filter('filter')(events, $scope.filterDays);
            // }

            if($scope.date_filter != null){
                events = $filter('filter')(events, $scope.filterDate);
            }

			$scope.eventSource = events;
			$scope.$broadcast('eventSourceChanged',$scope.eventSource);
    	    
            return events;
        }
        
        // refresh view
        var currentEvents = $scope.filterEvents();
        //console.log(currentEvents);
		$timeout(function() {
            angular.element(document.getElementById("calendarFilter")).triggerHandler('click');
        },200);
    }]);
    angular.element(document).ready(function() {
    	angular.bootstrap(document.getElementById("AppKalender"), ["calendarDemoApp"]);
  	});
</script>

{% endblock %}
